@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@import "tailwindcss";
@import "@heroui/styles";

/* custom css */

body {
  color: #5b6375;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  color: #091123;
} */

.plus-jakarta {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
